# 7.1.2 Tuples
Tuples are immutable sequences used to store collections of items.

## 7.1.2.1 Creating Tuples
Tuples can be created using parentheses or the `tuple()` constructor.

In [ ]:
t1 = (1, 2, 3)  # Using parentheses
t2 = tuple([4, 5, 6])  # From a list
t3 = 7, 8, 9  # Parentheses optional
t4 = (5,)  # Single-element tuple requires a comma
print(t1, t2, t3, t4)

## 7.1.2.2 Indexing & Slicing
Like lists, tuples support indexing and slicing.

In [ ]:
t = (10, 20, 30, 40)
print(t[0])      # First item
print(t[-1])     # Last item
print(t[1:3])    # Slice from index 1 to 2

## 7.1.2.3 Tuple Operations
Tuples support basic operations like concatenation and repetition.

In [ ]:
t1 = (1, 2)
t2 = (3, 4)
print(t1 + t2)    # Concatenation
print(t1 * 2)     # Repetition
print(2 in t1)    # Membership test

## 7.1.2.4 Immutability
Tuples are immutable, meaning their contents cannot be changed after creation.

In [ ]:
t = (1, 2, 3)
# t[0] = 99  # Uncommenting this will raise a TypeError

## 7.1.2.5 Tuple Unpacking
Tuple unpacking allows assigning multiple variables at once.

In [ ]:
point = (4, 5)
x, y = point
print(f"x = {x}, y = {y}")

## 7.1.2.6 Nested Tuples
Tuples can contain other tuples (or other collections).

In [ ]:
nested = ((1, 2), (3, 4))
print(nested[1][0])

## 7.1.2.7 Use Cases
Tuples are often used for fixed collections, function returns, or as dictionary keys.

In [ ]:
def min_max(nums):
    return min(nums), max(nums)
print(min_max([3, 1, 7]))

coords = {(0, 0): 'origin', (1, 2): 'A'}
print(coords[(1, 2)])

## 7.1.2.8 Best Practices & Tips
- Use tuples for data that shouldn't change.
- Prefer namedtuple or dataclass for better readability with structured tuples.

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', ['x', 'y'])
p = Point(1, 2)
print(p.x, p.y)

## 7.1.2.9 Common Pitfalls
- Forgetting the comma in a single-element tuple: `(5)` is not a tuple.

In [ ]:
not_a_tuple = (5)
a_tuple = (5,)
print(type(not_a_tuple))  # int
print(type(a_tuple))     # tuple

## 7.1.2.10 Related Resources
- Phyblas: [ข้อมูลชนิดลำดับ](https://phyblas.hinaboshi.com/tsuchinoko08)
- W3Schools: [Python Tuples](https://www.w3schools.com/python/python_tuples.asp)