# Hello world and Comment

In [ ]:
'''test'''
"""test"""
#test
print("Hello world")

# Python Data Variables and Types

### Rule Name Variables
    1. num "text" _
    2. NO number and Sign in front of text except _
    3. NO keyword => True = "Pat" => X
    4. Case Senitive (Lower Upper)

## Convert Data Types

In [ ]:
#Type conversion
x = 10
y = 3.14
z = "20"

result = x+y
print(result)

print(type(x))
print(type(y))
print(type(z))

result2 = x+int(z)
print(result2)

z= float(z)
print(type(z))

## Numbers Types


| Type     | Description           | Example     |
|----------|-----------------------|-------------|
| `int`    | Integer numbers       | `1`, `-10`  |
| `float`  | Decimal numbers       | `3.14`, `-0.5` |
| `complex`| Complex numbers       | `1 + 2j`    |

In [ ]:
## Basic types
x = 10          ## int
pi = 3.14       ## float
z = 2 + 3j      ## complex
print(type(x), type(pi), type(z))

## Text Type


| Type  | Description     | Example       |
|-------|-----------------|---------------|
| `str` | Text (string)   | `'hello'`, `"world"` |

In [ ]:
text = "Hello, world!"
print(text)
print(type(text))

## Boolean Type


| Type   | Description     | Example     |
|--------|-----------------|-------------|
| `bool` | Boolean values  | `True`, `False` |

In [ ]:
flag = True
print(flag)
print(type(flag))

## Sequence Types


| Type   | Description               | Example         |
|--------|---------------------------|-----------------|
| `list` | Mutable ordered sequence  | `[1, 2, 3]`     |
| `tuple`| Immutable ordered sequence| `(1, 2, 3)`     |
| `range`| Range of numbers          | `range(5)`      |

In [ ]:
lst = [1, 2, 3]
tup = (1, 2, 3)
rng = range(5)
print(lst, tup, list(rng))

## Set Types


| Type       | Description                 | Example           |
|------------|-----------------------------|-------------------|
| `set`      | Unordered unique elements   | `{1, 2, 3}`       |
| `frozenset`| Immutable set               | `frozenset([1,2])`|

In [ ]:
s = {1, 2, 3}
fs = frozenset([1, 2, 3])
print(s, fs)

## Mapping Type


| Type   | Description     | Example                  |
|--------|-----------------|--------------------------|
| `dict` | Key-value pairs | `{"a": 1, "b": 2}`       |

In [ ]:
d = {"a": 1, "b": 2}
print(d)
print(d["a"])

## Binary Types


| Type        | Description            | Example               |
|-------------|------------------------|------------------------|
| `bytes`     | Immutable byte sequence| `b'abc'`              |
| `bytearray` | Mutable byte sequence  | `bytearray(5)`        |
| `memoryview`| View of bytes in memory| `memoryview(b'abc')`  |

In [ ]:
b = b'abc'
ba = bytearray(b)
mv = memoryview(b)
print(b, ba, mv)

## None Type


| Type        | Description            | Example   |
|-------------|------------------------|-----------|
| `NoneType`  | Represents no value    | `None`    |

In [ ]:
x = None
print(x)
print(type(x))

# Python Operators

## Arithmetic Operators


| Operator | Description        | Example    | Result |
|----------|--------------------|------------|--------|
| `+`      | Addition            | `3 + 2`    | `5`    |
| `-`      | Subtraction         | `3 - 2`    | `1`    |
| `*`      | Multiplication      | `3 * 2`    | `6`    |
| `/`      | Division            | `3 / 2`    | `1.5`  |
| `//`     | Floor Division      | `3 // 2`   | `1`    |
| `%`      | Modulus             | `3 % 2`    | `1`    |
| `**`     | Exponentiation      | `3 ** 2`   | `9`    |

In [ ]:
a, b = 3, 2
print(a + b, a - b, a * b, a / b, a // b, a % b, a ** b)

## Comparison Operators


| Operator | Description         | Example     | Result |
|----------|---------------------|-------------|--------|
| `==`     | Equal                | `3 == 2`    | `False`|
| `!=`     | Not equal            | `3 != 2`    | `True` |
| `>`      | Greater than         | `3 > 2`     | `True` |
| `<`      | Less than            | `3 < 2`     | `False`|
| `>=`     | Greater or equal     | `3 >= 3`    | `True` |
| `<=`     | Less or equal        | `3 <= 3`    | `True` |

In [ ]:
x, y = 3, 2
print(x == y, x != y, x > y, x < y, x >= y, x <= y)

## Logical Operators


| Operator | Description                     | Example             | Result |
|----------|---------------------------------|---------------------|--------|
| `and`    | True if both conditions are true| `True and False`    | `False`|
| `or`     | True if at least one is true    | `True or False`     | `True` |
| `not`    | Inverts the Boolean value       | `not True`          | `False`|

In [ ]:
a, b = True, False
print(a and b, a or b, not a)

## Assignment Operators


| Operator | Description          | Example     |
|----------|----------------------|-------------|
| `=`      | Assign value         | `x = 5`     |
| `+=`     | Add and assign       | `x += 2`    |
| `-=`     | Subtract and assign  | `x -= 2`    |
| `*=`     | Multiply and assign  | `x *= 2`    |
| `/=`     | Divide and assign    | `x /= 2`    |
| `//=`    | Floor divide and assign| `x //= 2` |
| `%=`     | Modulus and assign   | `x %= 2`    |
| `**=`    | Power and assign     | `x **= 2`   |

In [ ]:
x = 5
x += 2
x *= 3
print(x)

## Bitwise Operators


| Operator | Description          | Example    | Result |
|----------|----------------------|------------|--------|
| `&`      | Bitwise AND          | `3 & 2`    | `2`    |
| `|`      | Bitwise OR           | `3 | 2`    | `3`    |
| `^`      | Bitwise XOR          | `3 ^ 2`    | `1`    |
| `~`      | Bitwise NOT          | `~3`       | `-4`   |
| `<<`     | Bitwise Left Shift   | `3 << 1`   | `6`    |
| `>>`     | Bitwise Right Shift  | `3 >> 1`   | `1`    |

In [ ]:
a, b = 3, 2
print(a & b, a | b, a ^ b, ~a, a << 1, a >> 1)

## Membership Operators


| Operator | Description            | Example         | Result |
|----------|------------------------|------------------|--------|
| `in`     | True if value exists   | `'a' in 'abc'`   | `True` |
| `not in` | True if value doesn't exist | `'x' not in 'abc'` | `True` |

In [ ]:
print('a' in 'abc', 'x' not in 'abc')

## Identity Operators


| Operator | Description                  | Example        | Result |
|----------|------------------------------|----------------|--------|
| `is`     | True if same object          | `x is y`       | `True/False` |
| `is not` | True if not same object      | `x is not y`   | `True/False` |

In [ ]:
x = [1, 2]
y = x
z = [1, 2]
print(x is y, x is z, x == z)  ## 'is' vs '=='

# Python Control Structures

## if / elif / else


```python
if condition1:
    ## code block 1
elif condition2:
    ## code block 2
else:
    ## code block 3
```

In [ ]:
x = 10
if x > 15:
    print("Greater than 15")
elif x == 10:
    print("Equal to 10")
else:
    print("Less than 10")

## for Loop


Used to iterate over a sequence (like list, tuple, string, range).
```python
for variable in iterable:
    ## code block
```

In [ ]:
for i in range(5):
    print(f"i = {i}")

## while Loop


Repeats as long as a condition is True.
```python
while condition:
    ## code block
```

In [ ]:
x = 0
while x < 3:
    print(f"x = {x}")
    x += 1

## break and continue


- `break` exits the loop immediately.
- `continue` skips the current iteration and moves to the next.

```python
for i in range(5):
    if i == 3:
        break
    print(i)

for i in range(5):
    if i == 3:
        continue
    print(i)
```

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(f"break example: {i}")

for i in range(5):
    if i == 3:
        continue
    print(f"continue example: {i}")

## pass Statement


Used as a placeholder where code is syntactically required but you don't want to write anything yet.
```python
if True:
    pass  ## TODO: implement later
```

In [ ]:
for i in range(3):
    if i == 1:
        pass
    else:
        print(f"Processing {i}")

# Python Functions

## Defining a Function


```python
def function_name(parameters):
    ## code block
    return result
```

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

## Default Arguments


```python
def func(x=10):
    return x
```

In [ ]:
def greet(name="World"):
    return f"Hello, {name}!"

print(greet())
print(greet("Bob"))

## Keyword Arguments


You can call functions using parameter names:
```python
def describe(name, age):
    print(f"{name} is {age} years old")

describe(age=30, name="Charlie")
```

In [ ]:
def describe(name, age):
    print(f"{name} is {age} years old")

describe(age=30, name="Charlie")

## *args and **kwargs

- `*args`: collects extra ***positional*** arguments.
- `**kwargs`: collects extra ***keyword*** arguments.

```python
def func(*args, **kwargs):
    print(args)
    print(kwargs)
```

| รูปแบบ | เก็บใน | ตัวอย่าง | ผลลัพธ์ |
|--------|--------|----------|---------|
| `*args` | tuple | `1, 2` | `(1, 2)` |
| `**kwargs` | dict | `a=3, b=4` | `{'a': 3, 'b': 4}` |

In [ ]:
def example(*args, **kwargs):
    print("args:", args)
    print("kwargs:", kwargs)

example(1, 2, a=3, b=4)


def example(*args, **kwargs):
    print("args:", args)
    print("kwargs:", kwargs)

nums = [1, 2, 3]
options = {'a': 10, 'b': 20}

example(*nums, **options)

def func(a, b=5, *args, **kwargs):
    print(a, b)
    print(args)
    print(kwargs)

func(1, 2, 3, 4, x=10, y=20)

## Returning Multiple Values


```python
def calc(x, y):
    return x + y, x * y
```

In [ ]:
def calc(x, y):
    return x + y, x * y

sum_, product = calc(3, 4)
print("Sum:", sum_)
print("Product:", product)

## Lambda Functions


```python
square = lambda x: x * x
```

In [ ]:
square = lambda x: x * x  ## noqa: E731
print(square(5))